.notes_table {
    margin-top: 2em;
    width: fit-content;
}

.notes_table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    color: #000;
    border-radius: .8em .8em 0 0;
}

.notes_table_header a {
    color: green;
}

.notes_table_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notes_table_add {
    display: flex;
    align-items: center;
    gap: 5px;
    color: green;
    transition: 0.4s;
    font-size: small;
}

.notes_table_add:hover {
    opacity: 0.6;
}

.notes_table_body {
    display: flex;
    justify-content: center;
    border: 1px solid orange;
    background-color: #fff;
    color: #000;
    gap: 24px;
}

.notes_table_header,
.notes_table_body {
    padding: 0.4em 0.8em;
}

.note {
    text-align: start;
    word-wrap: break-word;
    width: 250px;
}

.actions {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: end;
    gap: 8px;
    font-size: small;
}

.edit {
    display: flex;
    align-items: center;
    gap: 5px;
    color: blue;
    transition: 0.4s;
}

.delete {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    transition: 0.4s;
}

.see:hover,
.edit:hover,
.delete:hover {
    opacity: 0.6;
}

.message {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    word-wrap: normal;
    border: 1px solid orange;
    padding: .6em .6em;
}

.back_to_dashboard {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    transition: 0.4s;
}

.back_to_dashboard:hover {
    opacity: 0.6;
}

@media (max-width:600px) {
    .note {
        text-align: start;
        word-wrap: break-word;
        font-size: smaller;
        width: 100px;
    }

    .actions {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .see,
    .edit,
    .delete,
    .dashboard_table_header {
        font-size: smaller;
    }

    .see,
    .edit,
    .delete {
        width: 110px;
    }

    .message {
        font-size: smaller;
    }
}