.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.user_stats_display {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: .8em;
    width: 400px;
    padding: .4em;
    gap: 1.8em;
    background-color: orange;
    color: #000;
    transition: 0.4s;
    margin-bottom: 2em;
}

.user_stats_display:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user_name_display,
.user_level_display,
.user_points_display {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    width: 400px;
}

.search_form button {
    background-color: orange;
    border: 1px solid orange;
    border-radius: 0 .8em .8em 0;
    transition: 0.4s;
    border-left: 1px solid black;
}

.search_form button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search_form input {
    flex: 1;
}

.dashboard_table {
    width: fit-content;
}

.dashboard_table_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orange;
    color: #000;
    border-radius: .8em .8em 0 0;
}

.dashboard_table_header_title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard_table_header_add {
    display: flex;
    align-items: center;
    gap: 5px;
    color: green;
    transition: 0.4s;
    font-size: small;
}

.dashboard_table_header_add:hover {
    opacity: 0.6;
}

.dashboard_table_notepad {
    display: flex;
    justify-content: center;
    border: 1px solid orange;
    background-color: #fff;
    color: #000;
    gap: 24px;
}

.dashboard_table_header,
.dashboard_table_notepad {
    padding: 0.4em 0.8em;
}

.notepad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.notepad_title {
    text-align: start;
    font-weight: 500;
    word-wrap: break-word;
    width: 250px;
}

.notepad_tags {
    display: flex;
    gap: 4px;
    font-size: smaller;
    font-style: italic;
}

.actions {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 8px;
    font-size: small;
}

.see {
    display: flex;
    align-items: center;
    gap: 5px;
    color: blueviolet;
    transition: 0.4s;
}

.edit {
    display: flex;
    align-items: center;
    gap: 5px;
    color: blue;
    transition: 0.4s;
}

.delete {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    transition: 0.4s;
}

.see:hover,
.edit:hover,
.delete:hover {
    opacity: 0.6;
}

@media (max-width:600px) {
    .user_stats_display {
        font-size: x-small;
        width: 250px;
    }

    .search_form {
        width: 250px;
    }

    .notepad {
        justify-content: space-between;
    }

    .notepad_title {
        text-align: start;
        font-weight: 500;
        word-wrap: break-word;
        font-size: smaller;
        width: 100px;
    }

    .notepad_tags {
        font-size: small;
    }

    .actions {
        flex-direction: column;
        align-items: flex-end;
    }

    .see,
    .edit,
    .delete,
    .dashboard_table_header {
        font-size: smaller;
    }

    .see,
    .edit,
    .delete {
        width: 110px;
    }

}