.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    border-bottom: solid 1px #aaa;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    text-decoration: underline;
    color: #f2f2f2;
}