.footer {
    text-align: center;
    border-top: solid 1px orange;
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: orange;
}