.confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffa500;
}

.btns {
    display: flex;
    width: fit-content;
    gap: 30px;
}

.btn {
    background-color: #ffa500;
    border: 1px solid orange;
    border-radius: 8px;
    padding: 0.3em 0.8em;
    transition: 0.4s;
    font-weight: bolder;
    margin: 1em auto 1.2em auto;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}